.test-div {
  padding-bottom:66%;
  background:#EEE;
  height:0;
  position:relative;
}
.test-image {
  width:100%;
  height:100%;
  display:block;
  position:absolute;
}

.entryBox {
  width: 30%;
  min-width: 270px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.margin-top-50 {
  margin-top: 50px;
}

.btn-link {
  padding: 0;
}

.landing-outer {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 25vh;
}

.landing-header h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.28);
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://res.cloudinary.com/eleerogers/image/upload/v1567127415/starry_camp_dq3dzc.jpg);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://res.cloudinary.com/eleerogers/image/upload/v1566550279/campground3_ijvbxq.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://res.cloudinary.com/eleerogers/image/upload/v1566550277/campground7_nvgjpa.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://res.cloudinary.com/eleerogers/image/upload/v1566550275/campground5_jdaxgj.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://res.cloudinary.com/eleerogers/image/upload/v1566550274/campground4_pzeyad.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.map {
  height: 400px;
  width: 100%;
  padding-left: 0;
}

.min-width {
  min-width: 1000px;
}

input {
  outline:none;
}

input[type="file"] {
  display: none;
}

.cover {
  object-fit: cover;
  width: 50px;
  height: 100px;
}

a:hover {
  text-decoration: none 
}

.images {
  background-size: cover;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.km-button--primary {
  background-color: #5C5AA7;
  color: #FFFFFF;
}
.km-button {
  border-radius: 3px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  height: 36px;
  padding: 0px 16px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  min-width: 70px;
  transition: all 0.3s ease-out;
}
.km-btn-file {
  width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.km-btn-file-label {
  line-height: 36px;
  cursor: pointer;
}

.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
    background: #fff;
    color: #aaa;
 }
  .Toastify__toast--info {
    background: #3498db;
 }
  .Toastify__toast--success {
    background: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
 }
  .Toastify__toast--warning {
    background: #f1c40f;
 }
  .Toastify__toast--error {
    background: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
 }
 .Toastify__toast-container--top-right {
  top: 4.5em;
  right: 2em; 
}

.search-form {
  width: 14em;
  min-width: 14em;
}

.campground { 
  min-height: 200px;
  visibility: visible;
  opacity: 1;
}

.transition {
  transition:opacity 1s linear;
}

.loading {
  /* visibility: hidden; */
  opacity: 0;
  /* display: none; */
}

.done {
  visibility: visible;
  opacity: 1;
}

.campgroundThumb {
  height: 165px;
  width: 240px;
  object-fit: cover;
}

.campgroundUserThumb {
  height: 111px;
  width: 153px;
  object-fit: cover;
  padding: 0;
}

.campgroundBtn {
  margin-top: 7px;
}

.navMinHeight {
  min-height: 70px;
}

.user-cg-box {
  margin-top: 55px;
}

.email-position {
  margin-top: 20px;
}

.user-edit-btn {
  margin-top: 10px;
}

.jumbotron {
  min-width: 265px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-div {
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

.loading-button {
  /* padding: 1rem 2rem; */
  /* font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  background-color: #2080df; */
}

.loading-button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid;
  animation: load 1s infinite linear;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marginBtm {
  margin-bottom: 5em;
}

.keepTextSpacing {
  white-space: pre-line;
}

.inputTextBox {
  min-height: 39px;
}

.font-size-14 {
  font-size: 14px;
}

.footer-box {
  justify-content: end;
  display: flex;
}

.min-height-container {
  min-height: 90vh;
  margin-top: 2rem;
}

.text-align-center {
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .campgroundThumb {
    height: auto;
    width: 85%;
    min-width: 225.25px;
  }
}

@media only screen and (max-width: 767px) {
  .campgroundUserThumb {
    height: auto;
    width: 85%;
    min-width: 225.25px;
  }

  .text-align-center {
    margin: auto;
  }
}

ul {
  padding-inline-start: 0;
}
